.header {
  padding-bottom: 250px;
}

.categorias {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 100px 0;
  transform: translateY(-110px);
  h1 {
    color: white;
    font-size: 40px;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    top: calc(100% - 150px);
    width: 90%;
    > div {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      h1 {
        color: #041833;
        font-size: 25px;
      }
      > img {
        border-radius: 144px;
      }
    }
  }
}